body
{
    background-color: whitesmoke; 
    font-family: 'Times New Roman', Times, serif; 
    margin: 0px;
}

#header
{
    background-color: aqua; 
    margin: 10px; 
    height: 50px; 
    padding: 20px;
}

#main
{
    background-color: wheat; 
    margin-top: 10px; 
    margin-bottom: 0px; 
    margin-right: 10px; 
    margin-left: 10px; 
    padding: 15px; 
    padding-top: 5px; 
    padding-bottom: 5px;
}

#footer
{
    background-color: aqua; 
    text-align: center; 
    margin: 10px; 
    padding-top: 5px; 
    padding-bottom: 5px; 
}